html,
body {
  height: 100%;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;

}

#root{
    min-height: 100%;
}

.header{
    flex-direction: row;
}

.content {
  margin-top: 70px;
  margin-bottom: 40px;
  flex:auto;
}

.footer {
  margin: 0%;
}
