
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  min-height: 100%;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}
a:hover {
  color: #cbcdfb;
}

.text {
  color: #ffffff;
}

.text2 {
  color: #9d9d9d;
}

html,
body {
  margin: 0;
  height: 100%;
  /* display: flex;
  place-items: center; */
  background-color: #1a1a1a;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: aliceblue;
}

.buttonAdd {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #5627ad;
  cursor: pointer;
  transition: border-color 0.25s;
}
.buttonAdd:hover {
  border-color: #6439b3;
  background-color: #6439b3;
}
.buttonAdd:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.buttonDelete {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #6439b3;
  cursor: pointer;
  transition: border-color 0.25s;
}

.buttonDelete:hover {
  border-color: #6439b3;
  background-color: #5627ad;
}

.buttonDelete:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.content {
  margin-top: 70px;
  margin-bottom: 40px;
  flex: auto;
}

.productcard {
  margin-bottom: 20px;
  width: "15rem";
  display: flex;
  flex-direction: column;
}



.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  
}

.header {
  flex-direction: row;
  background-color: #0c0c0c56;
}

.sidebar {
  width: 250px;
  margin-top: 70px;
  margin-bottom: 40px;
  background-color: #0c0c0c56;
  color: white;
}

.footer {
  margin: 0%;
  position: sticky;
  color: #ffffff;
}

.productcard {
  margin-bottom: 20px;
  width: "15rem";
  display: flex;
  flex-direction: column;
  background-color: #262626;
}

.product-details {
  margin-top: 25px;
  display: flex;
}

.title {
  
  margin-top: 20px;
}

.category-text {
  color: #ffffff;
}
.category-text:hover {
  color: #cbcdfb;
}
.category-text.active {
  color: #8063c9;
}

.footer-text1 {
  color: #787878;
}

.footer-text {
  color: #787878;
}
.footer-text:hover {
  color: #989898;
}